<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand h1">Eyekeyuh</span>
</nav>

<div class="container-fluid text-center mt-4 mb-4">
    <h1>Products</h1>
</div>


<div class="container-fluid">
    <div class="row">
            {{#each product}}
                <div class="col-10 offset-1 offset-md-0 offset-lg-0 offset-xl-0 col-md-6 col-lg-3 text-center">
                    <div class="product">
                        <img src={{image}} data-id={{id}} alt={{name}} class="product-img">
                        <div class="add-button-textbox">
                            <p class="add-button">Add to Cart</p>
                        </div>
                    </div>
                    <p class="product-name">{{name}}</p>
                    <p class="product-price">${{price}}</p>
                    <p class="product-stock">Remaining: {{stock}}</p>
                </div>
            {{/each}}
    </div>
</div>